.sideBar{
    width:100%;
    margin: 0 2rem 0 0;
    text-align: start;
}

.sidebarLinkContainer{
    display: flex;

    margin: 1rem 0rem 0rem 0rem;
    cursor: pointer;
    padding: 0rem 0 0.5rem 0;
}

.sidebarLinks{
    margin: 1rem 0rem 0rem 1rem;
    font-size: 0.8rem;
}

.sidebarLinkContainer:hover{
    background-color: rgba(232, 229, 229, 0.408);
}

.sidebarhomeIcon,.sidebarexplorerIcon,.sidebarsubscriptionsIcon,.sidebarlibraryIcon,.sideYourVideosIcon{
    margin: 1rem 0rem 0rem 1rem;
    color: black;
}

.sideiconActive{
    margin: 1rem 0rem 0rem 1rem;
    color:red;
}


@media only screen and (max-width: 450px) {
    .sideBar{
        display: none;
    }
}
