

.singlePageVideoContainer{

     max-width: 100%;
}
.singleVidioTag{
    width: 100%;
    height: 100%;
    object-fit: initial;

}
.singlePagecircleSinginIcon{
    font-size: 2rem;
    color: #0275d8;
    margin: 0.8rem 1rem 0rem 0rem;
}

.singlePageOuterContainer{
    margin: 1rem 0 0 0 ;
}
.singlePageTitle{
    margin: 0.8rem 0 0.5rem 0;
    font-size: 1rem;
    overflow-wrap: anywhere;
}
.singlePageViews{
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.736);
}
.singlepageHr{
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.232);
    border: none;
    /* width: 95%; */
    width: 100%;
    margin: 0px;
}
.suggestedSinglepageHr{
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.232);
    border: none;
    /* width: 95%; */
    width: 100%;
    margin: 0px;
    display: none;
}
.singlePageProfileImageAndNameContainer{
    display: grid;
    grid-template-columns: 1fr 18fr;
    /* max-width: 95%; */
    max-width: 100%;
}

.singlePageProfileImage{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.8rem 1rem 0rem 0rem;

}
.singlePageNameDiscriptionContainer{
    margin: 0rem 1rem 1rem 0rem;
    text-align: justify;

}

.singlePageUseName{

    font-size: 0.9rem;
    font-weight: bold;
}
.singlePageDiscription{
    font-size: 0.8rem;


}
/* suhggested video css */
.suggestedVidoeImageContainer{

    width: 100%;

    height: 100%;
}
.suggestedVidioTag{

    object-fit: initial;
    width:100%;
    height: 100%;
}

.suggestedVidoeImageAndTitleContainer{
    display: grid;
    grid-template-columns: 3fr 3fr;
    margin:0rem 0 0.5rem 1rem;
    cursor: pointer;

}

.suggestedUserTitleBigScreen{
    margin: 0 0 0 0.4rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.782);
    overflow-wrap: anywhere;
}
.suggestedUserTitleSmallScren{
    display: none;
}
.suggestedUserViwesAndCreatedAtContainer{
    margin: 0.4rem 0 0 0.4rem;
}
.suggestedVideoDot
{
    margin: 0.4rem 0.4rem  0.4rem 0.4rem;
     font-size: 2rem;
}
.suggestedUserViews,.suggestedUserCreated{

    margin: 0rem 0 0 0rem;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.818);

}
.singlePageOuterContainer{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.singlePageOuterContainerWithoutSidebar{
    display: grid;
    grid-template-columns: 1fr;
     margin: 1rem 1rem 1rem 2rem;
}


.singlePageInnerContainer{
    display: grid;
    grid-template-columns: 5fr 2fr;
    max-width:1050px;
    margin: auto;
}

.thumbsUpIcon{

    font-size: 1.1rem;
   
}
.viewsAndLikeDislikContainer{
    display: flex;
    justify-content: space-between;
}
.likeContainer{
    display: flex;
    margin: 0 1rem 0 1rem;
}


.likeDislikeContainer{
    display: flex;
}
.disLikeCount,.likeCount{
    margin: 0.15rem 0 0 1rem;
    font-size: 0.85rem;
}
@media only screen and (max-width: 1000px)  {


    .singlePageInnerContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .suggestedVidoeImageAndTitleContainer {
        display: grid;
        grid-template-columns: 150px 5fr;
        margin: 1rem 0 0 0;

    }
    .suggestedSinglepageHr{
        display: block;
    }
    .suggestedUserTitleBigScreen{
        display: none;
    }
    .suggestedUserTitleSmallScren{
        display: block;
        margin: 0 0 0 0.4rem;
        font-size: 0.75rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.782);
        overflow-wrap: anywhere;
    }
}



@media only screen and (max-width: 400px)  {
    .viewsAndLikeDislikContainer{
        display: block;
    }
    .likeContainer{
        display: flex;
        margin: 1rem 1rem 1rem 0rem;
    }



}
