.userProfileImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

.profileImageContainer{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.5rem 0 0 0;

}

.imgAndDescriptionContainer{
    display: flex;

}

.vidDiscription{
  margin: 0.5rem 0 0 0.7rem;

  font-size: 0.85rem;
  /* font-weight: 500; */
}
.homeDescriptionContainer{
    max-width: 100%;
}

.vidioTag{
    width:100%;

}
.vidioTagContainer{
    width:100%;
}
.vidioTagContainer:hover{
    cursor: pointer;

}
.vidioInfoContainer
{
  width:250px;
}

/* .vidioInfoContainer:hover{
    max-width:280px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 20px black;
    background-color: white;
    display: inline-block;
} */

.vidUserName,.vidViwes{
    margin: 0 0 0 0rem;
    font-size: 0.8rem;
    color:rgba(0, 0, 0, 0.74)
}

.viewsAndNameContainer
{
    margin: 0.5rem 0 0 0.7rem;

}
