.userVideoOuterContainerWithSidebar{
    display: grid;
    grid-template-columns:10rem  1fr;


}


.userVideoOuterContainerWithSmallSidebar{
    display: grid;
    grid-template-columns:55px 1fr;

}


.userVideoContainer{
    margin: 0 0 0 0;
    background-color: rgba(245, 245, 245, 0.497);


}
.userVideoContainerWithSmallSidebar{
    /* margin: 0 0 0 6.55rem; */

    background-color: rgba(245, 245, 245, 0.497);

}


.userVideosInfo{
  background-color: whitesmoke;
  padding: 1rem;

}

.userYourVideosProfileImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.yourVideoImageProfileIconContainer{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: auto;
   width: 100%;
   /* height: 9rem; */
   align-items: center;


}
.yourVideoProfileContainer{
   border-bottom: 1px solid rgba(0, 0, 0, 0.211);
   width:100%;
   text-align: center;
}


.yourVidcircleSinginIcon{
    margin: 0rem 0rem 0rem 1rem;
    font-size: 5rem;
    color: #0275d8;
}

.yourVideoAndUserInfoContainer{
    max-width:1050px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: auto;
}

.yourVideoUloadCound{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.211);
    width: 100%;
    justify-content:space-around ;
    /* padding: 1rem 1rem 1rem 1rem; */
}
.uploadCount{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.673);
}

@media only screen and (max-width: 800px)  {

    .userVideoOuterContainerWithSidebar{
        display: grid;
        grid-template-columns:10rem 3fr ;


    }

    .userVideoOuterContainerWithSmallSidebar{
        display: grid;
        grid-template-columns:55px 3fr;

    }
    .userVideoContainerWithSmallSidebar{
        margin: 0 0 0 1rem;
    }
    .userVideoAnddiscContainer{
        display: flex;
        flex-direction: column;
    }
    .yourVideoImageProfileIconContainer,.userVideosInfo{
        display: none;
    }
    .yourVideoAndUserInfoContainer{
     display: block;

    }
}
