
.createVideoIconBtn{
    background-color: white;
    border: none;
    margin: 0 1rem 0 0;
}

.createVideoIcon{
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.786);
    margin: 0rem 1rem 0.4rem 0rem;
    cursor: pointer;
}



@media only screen and (max-width: 300px) {
    .createVideoIcon{
        margin: 0 0 0 0;
    }
  }
