.profileBtnAndCreateVideoBtnContainer{
    display: flex;
    justify-content: end;
    width:30%;

}

.navBar{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;

    padding: 0rem 0.2rem 0.5rem 0.2rem;
    width: 100%;
    margin:0 0 0 0;
}

.utubeHomeIcon{
    color: red;
    font-size: 1.3rem;
    margin: 0 0.2rem 0 0;
}

.utubeHomeLink{
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}

.logo{
    width:65px;
    height:50%;
    margin:0.2rem 0 0 1.3rem;

}

.barIcon{
    margin: 0 0 0 1rem;
    cursor: pointer;
    font-size: 15px;
}

.logoBarIconContainer{
    display: flex;
    align-items: center;
    width: 30%;
}
.searchForm{
    width: 40%;
    display: flex;

}

.searchBar{
    width: 100%;
    padding: 0.5rem ;
    border: 1px solid rgba(0, 0, 0, 0.222);
}

.submmitSearchbtn{
    background-color: rgba(245, 245, 245, 0.497);
    border: 1px solid rgba(0, 0, 0, 0.222);
    padding: 0 1rem 0 01rem;
}


/* .signInLink{
    text-decoration: none;
    color: #0275d8;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 0.6rem 0rem 0.5rem;
    /* margin-bottom: 1rem; */

/* }  */

.signInBtn{
    border: 0.9px solid  #0275d8;
    padding: 0 0.6rem 0 0.6rem ;
    background-color: white;
    display: flex;
    align-items: center;
    color: #0275d8;
    cursor: pointer;
    margin: 0 0.4rem 0 0rem;

}

.signInCircleIcon{
    color: #0275d8;
    font-size: 1.1rem;
    margin: 0 0.4rem 0 0rem;
}

.signinBtnContainer{
    display: flex;
    width:30%;
    justify-content: end;
}

.linkeInIcon,.gitHubIcon{
  font-size: 1.2rem;
  margin: 0.3rem 1rem 0 0rem;
  color: #0275d8;
  cursor: pointer;

}
.smallScreenSearchIcon{
    display: none;
}

/* .smallScreenSearchBar:focus{
    outline: none ;
    outline-offset: 0px;
    border: 1px solid black;
} */
.smallScreenSearchBar{
    width: 100%;
    padding: 0.5rem ;
    border: 1px solid rgba(0, 0, 0, 0.222);
}
.smallScreenSearchForm,.smallScreenSearchFormConatiner{
display: none;
}
@media only screen and (min-width: 1300px) {
.searchForm{
width: 30%;
}
}



@media only screen and (max-width: 700px) {
    .smallScreenSearchIcon{
        display: block;
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.786);
        margin: 0.3rem 1rem 0.4rem 0rem;
        cursor: pointer;
    }
    .searchForm{
        display: none;
    }
    .profileBtnAndCreateVideoBtnContainer{
        display: flex;
        width:50%;
    }
    .smallScreenSearchForm{
        display: flex;
        width: 100%;
        margin:  auto;


    }
    .smallScreenSearchFormConatiner{
        display: block;
        width: 90%;
        background-color: white;
        padding: 1rem 1rem 1rem 1rem;
        margin: auto;
        margin: 1rem auto 1rem auto;
        box-shadow: 0 0 4px black;

    }
}

@media only screen and (max-width: 500px) {
    .profileBtnAndCreateVideoBtnContainer{
        display: flex;
        width:70%;
    }
    .signInBtn{
        padding: 0 0.1rem 0 0.1rem;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 400px) {
    /* .createVideoIcon{
        margin: 0 0 0 0;
    } */
    .logoBarIconContainer a{
      display: none;
    }
    .logoBarIconContainer{

        display: flex;
        align-items: center;
        width: 10%;
    }
    .profileBtnAndCreateVideoBtnContainer{
        display: flex;
        width:90%;
    }
  }
